.main-form {
    border: 2pt dotted brown;
    line-height: 25pt;
    padding: 10pt;
}

.providers-block {
    overflow: auto;
    border: 2pt dotted brown;
    line-height: 25pt;
    padding: 10pt;
}

.provider-logo {
    width: 100pt;
    height: 100pt;
    margin: auto;
}

.provider-element {
    cursor: pointer;
    float: left;
    border: 2pt dotted brown;
    padding: 10pt;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
}

.provider-element:hover {
    background-color: coral;
}

.user-info {
    border: 2px dotted brown;
    line-height: 25pt;
    padding: 10pt;
}

.form-input {
    width: 120pt;
    margin: 5pt;
}

.main {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.select-button {
    margin: 5pt;
    width: 130pt;
}